
#head{
    background-color: #148a8c;
}
#container{
                 
                text-align: center;
                
                border:1px solid black 1px;
                padding:10px;
                background-color: #148a8c;
                margin-bottom: 5%;
               
                
                box-shadow: 0.1em 0.5em 0.5em 0.1em #148a8c;;
               
                
            }
            body{
	            font-family: 'Source Sans Pro', sans-serif;
	            color:black;
                font-weight: 300;
                
                }
            #Wel{
     
                text-align:center;
                font-size: 1.5em;
                font-weight: bold;
                color:white;
	            margin-bottom: 15%;
                }
            #form{
                padding: 5px;
                margin-bottom: 5px;
                height: 300px;
                
            }
            input[type=password],input[type=text]{
                width: 60%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 2px;
                font-size: 15px;
                background-color: white;
                /* background-image: url(./photos/searchicon.png); */
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                margin: 5px;
                    }
             .button
              {
                        padding: 10px 10px;
                        border-radius: 3px;
                        width: 60%;
                        cursor: pointer;
                        font-size: 17px;
                        color:white;
                        
              }
			  [type=submit]:hover{
						background-color: white;
						color: black;
			  }
			  [type=submit]
				{
                    background-color: black;
                    font-weight: bold;
               }
                .field{
                    width: 50%;
                    padding: 4%;
                    border: 1px solid rgba(88, 85, 85, 0.637);
                }
                    @media screen and (min-width: 400px)
                    {
                        #container{
                            margin-top: 20%;
                            margin-left:12%;
                            margin-right: 15%;
                            display:block;
                            height:50%;
                        }
                    
                    }
                    @media screen and (min-width: 600px)
                    {
                        #container{
                            margin-top: 5%;
                            margin-left:18%;
                            margin-right: 18%;
                            display:block;
                            width:60%;
                            height:80%;
                        }
                        #Wel{

                            margin-top:10%;
                        }
                    
                    }
                    @media screen and (min-width: 800px)
                    {
                        #container{
                            margin-top: 5%;
                            margin-left:28%;
                            margin-right: 20%;
                            display:block;
                            height:80%;
                            width:40%;
                        }
                        #Wel{
                            margin-top:12%;
                        }
                    
                    }
                    @media screen and (min-width: 1200px)
                    {
                        #container{
                            margin-top: 5%;
                            margin-left:30%;
                            margin-right: 20%;
                            display:block;
                            height:80%;
                            width:40%;
                        }
                        #Wel{
                            margin-top:15%;
                        }
                    
                    }
        