@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#wrapper{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: auto;
    grid-template-areas: "i";
}


.inside{
    grid-area: i;
	display: grid;
	grid-auto-rows: auto;	
	grid-template-columns:auto;
	grid-template-areas: 
						
						"intro"
						"op"
						"de"
						;
}
li{
list-style-type: none;
}

a{
text-decoration: none;

}

.inside .btn {
	background-color: RoyalBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	 /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	position: absolute;
	left: 1%;
	z-index:1;
	
	width: 40px;
	height: 35px;
	font-size: 18px;
	
	border-radius: 30%;
	
	
	
	
	
  }

  /* Darker background on mouse-over */
  .btn:hover {
	background-color: Red;
  }

/*//////////////////////Update button///////////////////////*/
.update{
	display: flex;
	justify-content: center;
}  


.update a{
	text-decoration: none;
	color: white;
}

.update h4{
	padding: 12px;
	background-color: rgb(36, 94, 18);
	margin: 5%;
}
.update h4:hover{
	background-color: red;
}





/*///////////////////////////PERSONAL INFO//////////////////////*/


.intro{
	grid-area: intro;
	display: flex;
	
	

	background-color: yellow;
	background: url("dept1.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}





.personalInfo img{
	
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
	height: 80%;
	background-color:rgba(255, 255, 255, 1);
	filter: grayscale(0%);
	
    
	
}



.personalInfo{
	align-self: flex-end;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color:rgba(255, 255, 255, 0.8);
	
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	
	
} 

.personalInfo div{
	height: auto;
	width: 100%;
	text-align: center;
	
	margin-bottom: 5%;
}

.personalInfo div h1{
	
	margin-top: 10%;
	padding: 14px;
	line-height: 0.5;
	padding-left: 0;
	
	
}

.personalInfo div h3{
	
	
	

	padding-bottom: 10px;
	
	
}

small h3{
margin-left: 15px;	
}

.line{
	width: 250px;
	border-bottom: 3px solid rgb(36, 94, 18);
	margin: auto;
}

.personalInfo div a{
	
	font-size: 1em;
	display: block;
    margin-bottom: 2%;
    margin-top: 2%;
	
}




/*///////////////////////////DETAIL//////////////////////*/
.options{
	
	
	
	grid-area: op;
	text-align: center;
	
	background-color:#32a852;


	
}

.options ul{
	 display: flex; 
	
	justify-content: center;
	flex-direction: column;
	background-color:#32a852;

	
}
.options ul li{
	border-bottom: 1px groove  rgba(240, 31, 23, 0.19);
}


.options h4{
	
	color: white;
	padding: 18px 40px;
	
	
}



.options h4:hover{
	
	background-color: rgb(36, 94, 18);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.sect{
	grid-area: de;
	background-color: rgba(0,0,0,0.19);
	
	height: auto;
	
	
}


section{
	text-align: justify;
    margin: auto;
    padding: 36px;
    background-color: rgb(247, 247, 247,0.9);
	box-shadow: 0 0 2px 1px rgb(0,0,0,0.15), 0 0 2px 1px rgb(0,0,0,0.15);
		
}

section h3{
	
	text-align: center;
	font-size: 2em;
}










.Teaching{

	text-align: justify;
	
}

.Publications, .Conference, .Thesis, .Projects,.Activities, .Workshop{
	
	text-align: justify;

}



.Publications ul,.Teaching ul, .Research ul, .Conference ul,.Thesis ul, .Projects ul,.Activities ul,.Workshop ul{
	padding: 5%;

}

.Publications ul li, .Teaching ul li, .Research ul li, .Conference ul li, .Thesis ul li, .Projects ul li,.Activities ul li,.Workshop ul li{
	margin-bottom: 2%;
	list-style-type: disc;
}



















ul.update  li{
	list-style-type: disc;

	}








@media screen and (min-width: 400px)
{
	
	

/*///////////////////////////HEADER//////////////////////*/

		header h1{
		margin: auto;		
			font-size: 22px;
		}
		
		header h3{
			font-size: 18px;
			margin: auto;
		}
		

/*///////////////////////////PERSONAL INFO//////////////////////*/	





.personalInfo img{
	margin-left: 35%;

}

	.personalInfo div{
		border-top: 10%;
		
	}

	.personalInfo div h1{
		
		font-size: 32px;
	}

	.personalInfo div h3{
		
		font-size: 20px;
	}

	 .line{
		margin:auto;
		width: 300px;
	}


		

}









@media screen and (min-width: 600px)
{
	
	.line{
		margin: auto;
		width: 350px;
		
	}

}






@media screen and (min-width: 800px)
{
	


	
	.line{
		margin: auto;
		width: 390px;
	}

	
}

















@media screen and (min-width: 1200px)
{

.btn{
	top: 3%;
	left: 1%;
	
}




.inside
{
    grid-template-columns: 2fr 0.5fr auto;
    grid-template-areas:
            "intro op de"; 
}


section{
	width: 50vw;
    height: 47vw;
	overflow: scroll;
}
.Publications ul,.Teaching ul, .Research ul, .Conference ul,.Thesis ul, .Projects ul,.Activities ul,.Workshop ul{
    padding: 5%;
	width: auto;
	height: auto;	


}


.intro{
	width: auto;
	height: 47vw;
	
}

.options{
    width: 100%;
	height: 47vw;
	background-color: rgb(50, 107, 168);
}

.options h4{
	background-color: rgb(50, 107, 168);
}


.intro{
    margin: 0;
    width: auto;
	height: 47vw;
	filter: none;
    -webkit-filter: grayscale(0%);
	background-image: radial-gradient(circle, red, pink, green);
	
	}

.personalInfo img
{
	
	margin: auto;
	margin-top: 2%;	
	height: 300px;
	width: 300px;
	border-radius: 50%;

}


div .personalInfo{
	margin: 1%;
	align-self: center;
	border-radius: 10%;	
	opacity: 0.8;
	
}

.personalInfo div h1{
	line-height: 0.5;
	padding: 14px;
	margin: 0;
	
	
	
}

	
ul.update  li{
	list-style-type: none;

	}


}